@use "sass:color";
@import "../../../../../variables.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 7rem;
}

.anchor {
  all: unset;
  outline: revert;
  display: flex;
  justify-content: center;
  font-size: $button-font-size;
  cursor: pointer;
  border-bottom: 1px solid rgba($darkest, 0.2);
}

.anchor:hover {
  color: color.scale($darkest, $lightness: 20%);
}
