@use "sass:color";
@import "../../../../variables.scss";

.anchor {
  position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  z-index: 9999;
  padding: 1rem;
  min-width: max-content;
  border: 2px solid $beige;
  border-top: none;
  background-color: $background;
}

.dropdown-button {
  all: unset;
  outline: revert;
  font-size: $button-font-size * 0.9;
  cursor: pointer;
}

.dropdown-button:hover {
  color: color.scale($darkest, $lightness: 20%);
}
