:host {
  display: block;
}

.anchor {
  position: relative;
}

.dropdown {
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  min-width: max-content;
  background-color: gray;
}
